@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

/* Home page styles */
* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: rgb(215, 203, 203);
    /* width: 434px; */
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3 ease-in;

}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.sidebar nav {
    padding: 40px;

}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
    color: black
}

.sidebar nav li a {
    text-decoration: none;
    color: black;



}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.introContainer {
    margin: 100px 25px;
}

.introContainer h1 {
    margin: 25px 15px;
    font-family: 'Fira Sans', sans-serif;
}

.introContainer p {
    font-family: 'Source Code Pro', monospace;
    margin: 25px 15px;
}

.skillsContainer {
    margin: 25px 15px;
}

.skill {
    padding-top: 15px;

}

.skill1 {
    width: 500px;
    height: 15px;
    background-color: red;
    border: 2px solid black;

}

.skillHouse {
    display: flex;
    padding-top: 20px;
}

.skill2 {
    width: 200px;
    height: 15px;
    background-color: blue;
    border: 2px solid black;
}

@media (max-width: 1250px) {
    * {
        /* background-color: red; */
    }

    .devPic {
        display: none;
    }

    /* .sidebar {
        transform: translate(-443px, 0px);
        position: absolute;
    } */
}

.hamburger img {
    width: 23px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px
}

.cross {
    margin-left: 190px;
}

.proj_images {
    width: 20em;
    height: 10em;
}

.project1 {
    display: flex;
    flex-direction: column;
}

.project1 h3 {
    text-align: center;

}

.project1 .project_url {
    padding-left: 5em;
    text-decoration: none;

}

.projects {
    display: flex;
    justify-content: space-evenly;
    position: fixed;

}

.projectContainer h2 {
    text-align: center;
    padding-bottom: 20px;
}